body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  width: 90vw;
  margin: auto;
}
.btn {
  padding: 1em 3em;
  background-color: rgb(80, 65, 182);
  color: white;
  border-radius: 0.5rem;
  max-width: 10rem;
  text-align: center;
}

.para {
  max-width: 70ch;
}
/* --_--END----- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputValue {
  text-align: center;
  position: relative;
  background-color: blanchedalmond;
  height: 8rem;
  width: 800px;
  font-size: 24pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: 2px solid white;
  border-radius: 50px;
  align-self: 'center';
}
.inputButton {
  position: absolute;
  left: -99999px;
}

.inputBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  color: black;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 207, 207, 0.8);
}

.cat {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  border: 2px solid white;
}

/* Section Classes */
.game-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 0 2px rgba(255, 207, 207, 0.8);
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

.game-info > * + * {
  margin-top: 1rem;
}
/*----END----*/
